# Disable ModSecurity
<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>

<IfModule mod_security2.c>
    SecRuleEngine Off
</IfModule>

# Rewrite to public folder
<IfModule mod_rewrite.c>
     RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
